@model List<HorarioModel>;
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card col-8">
    <div class="card-header">
        Lista de apartados
    </div>
</div>
<div class="card-body">
    <a asp-action="Insertar" asp-controller="Horarios" class="btn btn-primary btn-sm">Crear Nuevo</a>
    <table class="table table-striped bg-white">
        <thead>
            <tr>
                <th>Aula</th>
                <th>Clave de empleado</th>
                <th>Fecha</th>
                <th>Hora inicio</th>
                <th>Hora fin</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
              <tr>
                <td>@item.refInstalacion.idaula</td>
                <td>@item.clave_empleado2</td>
                <td>@item.Fecha</td>
                <td>@item.HoraInicio</td>
                <td>@item.HoraFin</td>

                <td>
                    <a asp-action="Editar" asp-controller="Horarios" asp-route-idhorario="@item.idhorario" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-action="Eliminar" asp-controller="Horarios" asp-route-idhorario="@item.idhorario" class="btn btn-danger btn-sm">Eliminar</a>

                </td>
              </tr>
            } 
        </tbody>
    </table>


</div>